{% import 'macro/nav_link.twig' as macros %}
<header>
	<nav class="bg-neutral-950 flex justify-between items-center py-3 px-8 w-full">

		<a href="{{ path('app_home') }}">
			<img src="{{ asset('/img/logo/typographique.svg') }}" class="h-10"/>
		</a>

		<!-- Bouton du menu -->
		<button id="menu-button" class="block md:hidden text-neutral-200">
			{{ ux_icon('tabler:menu-4', {class: 'w-6 h-6'}) }}
		</button>

		<!-- Drawer (menu mobile) -->
		<div
			id="mobile-menu" class="fixed top-0 left-0 w-64 h-full bg-neutral-900 text-white transform -translate-x-full transition-transform duration-300 ease-in-out md:translate-none md:bg-transparent md:flex md:relative md:justify-end">
			<!-- Bouton de fermeture -->
			<button id="close-menu" class="absolute top-4 right-4 md:hidden">
				{{ ux_icon('tabler:x', {class: 'w-6 h-6'}) }}
			</button>

			<!-- Liens de navigation -->
			<ul class="flex flex-col gap-4 mt-16 p-6 md:flex-row md:mt-0 md:p-0 md:justify-end">
				{% if app.user %}
					{% if not is_granted('ROLE_BANNED') %}
						{{ macros.menu_item('app_event_homepage', {}, 'Event', "app_event") }}
						{{ macros.menu_item('app_forum_homepage', {}, 'Forum', "app_forum") }}

						{% if is_granted('ROLE_ALPHA') %}
							{{ macros.menu_item('app_quiz_homepage', {}, 'Quiz', "app_quiz") }}
							{{ macros.menu_item('app_contest_homepage', {}, 'Défi', "app_contest") }}
							{{ macros.menu_item('app_user_alpha', {}, 'Alpha', "app_user_show",app.request.attributes.get('_route') starts with "app_user" and app.request.attributes.get("id")!= app.user.id ) }}
							{{ macros.menu_item('app_academy_homepage', {}, 'Formations', "app_academy") }}
						{% endif %}


						{%  if is_granted('ROLE_SUPERVISOR') %}
							{{ macros.menu_item('app_quiz_supervisor_homepage', {}, 'Quiz', "app_quiz") }}
							{{ macros.menu_item('app_contest_supervisor_homepage', {}, 'Défi', "app_contest") }}
						{% endif %}

						{% if is_granted('ROLE_ADMIN') %}
							{{ macros.menu_item('admin_homepage', {}, 'Admin', "admin") }}
						{% endif %}
						<div class="flex gap-5">
							{{ macros.menu_item('app_user_show', {'id': app.user.id}, ux_icon('tabler:user-filled', {class: 'w-6 h-6'}) | raw, "app_user_show",app.request.attributes.get('_route') starts with "app_user_show" and app.request.attributes.get("id")== app.user.id ) }}
							{{ macros.menu_item('app_logout', {}, ux_icon('tabler:door-exit', {class: 'w-6 h-6'}) | raw) }}
						</div>
					{% else %}
						{{ macros.menu_item('app_logout', {}, ux_icon('tabler:door-exit', {class: 'w-6 h-6'}) | raw) }}
					{% endif %}
				{% else %}
					{{ macros.menu_item('app_register', {}, "S'inscrire") }}
					{{ macros.menu_item('app_login', {}, 'Se connecter') }}
				{% endif %}
			</ul>
		</div>

	</nav>
</header>
