{{ form_start(form) }}
    {{ form_widget(form.username) }}

    {{ form_widget(form.email) }}

    {{ form_widget(form.gender) }}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="mt-4">
            {{ form_label(form.isAdmin) }}
            {{ form_widget(form.isAdmin) }}
        </div>
    {% endif %}

    <button type="submit" class="relative mt-5 bg-blue-600 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105 w-fit">
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
