{% extends 'base.html.twig' %}

{% block title %}Dashboard - Utilisateur {{ user.username }}{% endblock %}
{% block h1 %}Dashboard - Utilisateur {{ user.username }}{% endblock %}

{% block body %} 
    <div class="container">
        <!-- Pseudonyme -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Pseudonyme</h3>
            <p>{{ user.username }}</p>
        </div> 

        <!-- Email -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Email</h3>
            <p>{{ user.email }}</p>
        </div> 

        <!-- Rôle(s) -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Rôle</h3>
            <p>
                {% for value in user.roles %}
                    {{ value }} 
                    {% if not loop.last %} - {% endif %}
                {% endfor %}
            </p>
        </div> 

        <!-- Topics -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Topics</h3>
            <div class="flex">
                {% for topic in user.topics %}
                    {% include 'macro/topic_card.html.twig' %}
                {% else %}
                  <p> Aucun topics trouvé</p>
                 {% endfor %}
            </div>
        </div> 

        <!-- Bromances Alpha -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Bromances Alpha</h3>
            <ul>
                {% for bromance in user.bromancesAlpha %}
                    <li>{{ bromance.name }}</li>
                {% else %}
                    <li>Aucun bromance alpha trouvé</li>
                {% endfor %}
            </ul>
        </div> 

        <!-- Bromances Follower -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Bromances Follower</h3>
            <ul>
                {% for bromance in user.bromancesFollower %}
                    <li>{{ bromance.name }}</li>
                {% else %}
                    <li>Aucun bromance follower trouvé</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Participations -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Participations</h3>
            <ul>
                {% for participation in user.participations %}
                    <li>{{ participation.eventName }}</li>
                {% else %}
                    <li>Aucune participation trouvée</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Events -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Événements</h3>
            <ul>
                {% for event in user.events %}
                    <li>{{ event.title }}</li>
                {% else %}
                    <li>Aucun événement trouvé</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Status -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Status</h3>
            <p>{{ user.status.value }}</p>
        </div>

        <!-- XP -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">XP</h3>
            <p>{{ user.xp is not null ? user.xp : 'Aucun XP' }}</p>
        </div>

        <!-- Challenges -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Challenges</h3>
            <ul>
                {% for challenge in user.challenges %}
                    <li>{{ challenge.title }}</li>
                {% else %}
                    <li>Aucun challenge trouvé</li>
                {% endfor %}
            </ul>
        </div>

        <!-- User Answers -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Réponses</h3>
            <ul>
                {% for answer in user.userAnswers %}
                    <li>{{ answer.answerText }}</li>
                {% else %}
                    <li>Aucune réponse trouvée</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Ban Requests -->
        <div class="shadow-md shadow-neutral-900 p-3">
            <h3 class="text-fuchsia-500">Demandes de bannissement</h3>
            <ul>
                {% for request in user.banRequests %}
                    <li>{{ request.reason }}</li>
                {% else %}
                    <li>Aucune demande de bannissement</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Retour et modification -->
        <div class="flex items-center flex-col gap-6 mt-8">
            <div class="flex gap-5">
                <a href="{{ path('admin_user') }}" class="btn">
                    Retour à la liste
                </a>
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn">
                    Modifier
                </a>
            </div>
            {{ include('admin/user/_delete_form.html.twig') }} 
        </div>
    </div> 
{% endblock %}
