{% extends 'base.html.twig' %}

{% block title %}
	{{event.title}}
{% endblock %}

{% import 'macro/badge_status.html.twig' as macrosBadge %}

{% block body %}
	<section class="flex md:flex-row flex-col md:gap-10 gap-5 justify-start">
		{% if event.image %}
			<img src={{ asset('img/uploads/' ~ event.image) }} alt="Event Image" class="md:w-80 md:h-100 rounded-lg object-cover h-40 w-full"/>
		{% else %}
			{{ ux_icon('tabler:calendar-filled', {class: 'w-40 h-40 mx-auto mt-10'}) }}
		{% endif %}
		<div class="w-full flex flex-col md:gap-5 gap-2.5">
			{{ macrosBadge.AfficheBadgeStatus(event) }}
			<div class="text-neutral-400">
				<p>{{event.location}}</p>
				<p>
					{{ event.startAt|format_datetime('short', 'none', locale: 'fr') }}
					-
					{{ event.endAt|format_datetime('short', 'none', locale: 'fr') }}</p>
			</div>
			<p>{{event.longDescription}}</p>
			<p class="italic">-
				{{ event.participants|length }}
				participants à cet évènement
			</p>
			{% if event.author != app.user and event.isInFuture() and is_granted('participate',event) %}
				{% if event.isUserParticipating(app.user) %}
					<a href="{{ path('app_event_unparticipate', { id: event.id }) }}">
						<button type="submit" class="btn-secondary">
							Ne plus participer
						</button>
					</a>
				{% else %}
					<a href="{{ path('app_event_participate', { id: event.id }) }}">
						<button type="submit" class="btn">
							{{ button_label|default('Participer') }}
						</button>
					</a>
				{% endif %}
			{% endif %}
			<div>
				{% if event.author == app.user %}
					{% for participant in event.participants %}
						<p>{{participant.username}}</p>
					{% endfor %}

					{{ include('event/_delete_form.html.twig') }}
				{% endif %}
			</div>
			<a href="{{ path('app_user_show', {'id': event.author.id}) }}" class="border-t mt-2 pt-2 hover:underline">
				Auteur :
				{{event.author.username}}
			</a>
		</div>
	</section>
{% endblock %}
