{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Défi{% endblock %}
{% set return_path = 'admin_homepage' %}

{% block admin_content %}
	<section>
		<div class="wrapper-table">
			<table>
				<thead>
					<tr>
						<th scope="col">
							ID
						</th>
						<th scope="col">
							Titre
						</th>
						<th scope="col">
							Description
						</th>
						<th scope="col">
							Date d'ouverture
						</th>
						<th scope="col">
							Date de fermeture
						</th>
                        <th scope="col">
							XP
						</th>
                        <th scope="col">
							Nombre de participation
						</th>
						<th scope="col">
							Auteur
						</th>
						<th scope="col">
							Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for contest in pagination.items %}
						<tr>
							<td>{{ contest.id }}</td>
                            <td>{{ contest.title }}</td>
                            <td>{{ contest.description }}</td>
                            <td>{{ contest.startOn ? contest.startOn|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ contest.endOn ? contest.endOn|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ contest.xp }}</td>
                            <td>{{ contest.userContests|length }}</td>
                            <td>{{ contest.author.username }}</td>
                                <td>
								<a href="{{ path('admin_contest_show', {'id': contest.id}) }}">
									{{ ux_icon('tabler:eye', {class: 'w-6 h-6'}) }}
								</a>
								<a href="{{ path('admin_contest_edit', {'id': contest.id}) }}">
									{{ ux_icon('tabler:edit', {class: 'w-6 h-6'}) }}
								</a>
							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucun défi trouvé.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{{ knp_pagination_render(pagination) }}
		<div class="flex justify-center">
			<a href={{path("admin_contest_new")}} class="btn">
				Créer un nouveau défi
			</a>
		</div>
	</section>
{% endblock %}