{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Défi{% endblock %}
{% set return_path = 'admin_homepage' %}

{% block admin_content %}
    <h1>Défi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contest.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ contest.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contest.description }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ contest.startOn ? contest.startOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ contest.endOn ? contest.endOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Xp</th>
                <td>{{ contest.xp }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ contest.author.username }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_contest_homepage') }}">Retour à la liste</a>

    <a href="{{ path('admin_contest_edit', {'id': contest.id}) }}">Modifier</a>

    {{ include('admin/contest/_delete_form.html.twig') }}

{% endblock %}