{% extends 'base.html.twig' %}
    {% set admin_title = block('admin_title') %}
{% block admin_title %}
 {% endblock %}

{% block title %}
    Dashboard - {{admin_title}}
{% endblock %}

{% block h1 %}
    Dashboard - {{admin_title}}
{% endblock %}


{% block body %}
    {% if return_path is defined and return_params is defined %}
        <a href="{{ path(return_path, return_params) }}" class="flex hover:outline outline-neutral-300 w-fit rounded-3xl px-3 py-2">
        <div>
                 {{ ux_icon('tabler:chevron-left', {class: 'w-6 h-6'}) }} 
                 <p>
                Retour
            </p>
            </div>
        </a>
    {% elseif return_path is defined %}
        <a href="{{ path(return_path) }}" class="flex hover:outline outline-neutral-300 w-fit rounded-3xl px-3 py-2">
            {{ ux_icon('tabler:chevron-left', {class: 'w-6 h-6'}) }} 
            <p>     
                Retour à la liste
            </p>
         </a>
    {% endif %}

    <!-- Contenu principal -->
    <section class="mt-8">
        {% block admin_content %}
        {% endblock %}
    </section>
{% endblock %}
