{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Fomration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ academy.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ academy.title }}</td>
            </tr>
            <tr>
                <th>Courte description</th>
                <td>{{ academy.shortDescription }}</td>
            </tr>
            <tr>
                <th>Gratuit</th>
                <td>{{ academy.free ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ academy.price }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ academy.createdAt ? academy.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_supervisor_academy_index') }}">Retour à la liste</a>

    <a href="{{ path('app_supervisor_academy_edit', {'id': academy.id}) }}">Modifier</a>

    {{ include('academy/supervisor/_delete_form.html.twig') }}
{% endblock %}
