{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Modifier
	{{response.id}}
{% endblock %}
{% set return_path = 'admin_response_show' %}
{% set return_params = { id: response.id } %}


{% block admin_content %}
	{{ form_start(form) }}
	<table>
		<thead>
			<tr>
				<th>Catégorie</th>
				<th>Valeur</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Id</td>
				<td>{{response.id}}</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>{{ form_widget(form.content) }}</td>
			</tr>

			<tr>
				<td>Status</td>
				<td>{{ form_widget(form.status) }}</td>
			</tr>
			<tr>
				<td>Auteur</td>
				<td>{{ form_widget(form.author) }}</td>
			</tr>
		</tbody>
	</table>
	<div class="flex justify-center mb-4">
		<button type="submit" class="btn">
			{{ button_label|default('Enregistrer') }}
		</button>
	</div>
	{{ form_end(form) }}
	
	{{ include('admin/response/_delete_form.html.twig') }}
{% endblock %}
