{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Commentaire topic
{% endblock %}
{% set return_path = 'admin_homepage' %}

{% block admin_content %}
	<div class="mt-5 flex gap-4">
		<div>
			<select class="dashboard-select" id="status">
				<option value="all">Filtrer par status</option>
				{% for status in statuses %}
					<option value="{{status.name}}">
						{% if status.value == 'validated' %}
							Validé
						{% elseif status.value == 'waiting' %}
							En attente
						{% elseif status.value == 'rejected' %}
							Rejeté
						{% elseif status.value == 'deleted' %}
							Supprimé
						{% endif %}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<section class="mt-2">
		<div class="wrapper-table">
			<table>
				<thead>
					<tr>
						<th scope="col">
							ID</th>
						<th scope="col">
							Auteur</th>
						<th scope="col">
							Topic</th>
						<th scope="col">
							Status</th>
						<th scope="col">
							Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for response in pagination.items %}
						<tr data-status="{{response.status.name}}">
							<td>{{ response.id }}</td>
							<td>{{ response.author.username }}</td>
							<td class="min-w-40">{{ response.topic.title }}</td>
							<td>
								<form method="POST" action="{{ path('admin_response_change_status', { id: response.id }) }}" class="inline">
									<input type="hidden" name="status" value="{{ response.status.value }}">
									<select name="status" class="dashboard-select" onchange="this.form.submit()">
										<option value="validated" {% if response.status.value == 'validated' %} selected {% endif %}>Validé</option>
										<option value="rejected" {% if response.status.value == 'rejected' %} selected {% endif %}>Rejeté</option>
										<option value="waiting" {% if response.status.value == 'waiting' %} selected {% endif %}>En attente</option>
										<option value="deleted" {% if response.status.value == 'deleted' %} selected {% endif %}>Supprimé</option>
									</select>
								</form>
							</td>
							<td>
								<a href="{{ path('admin_response_show', {'id': response.id}) }}">
									{{ ux_icon('tabler:eye', {class: 'w-6 h-6'}) }}
								</a>
								<a href="{{ path('admin_response_edit', {'id': response.id}) }}">
									{{ ux_icon('tabler:edit', {class: 'w-6 h-6'}) }}
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucune réponse trouvé.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{{ knp_pagination_render(pagination) }}
		<a href="{{ path('admin_response_new') }}" class="btn">
			Créer une nouvelle réponse
		</a>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
