{{ form_start(form) }}
<table>
	<thead>
		<tr>
			<th>Catégorie</th>
			<th>Valeur</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Title</td>
			<td>
				<div>{{ form_widget(form.title) }}{{form_errors(form.title)}}</div>
			</td>

		</tr>
		<tr>
			<td>Short description</td>
			<td>
				<div>{{ form_widget(form.shortDescription) }}{{form_errors(form.shortDescription)}}</div>
			</td>

		</tr>
		<tr>
			<td>Description</td>
			<td>
				<div>{{ form_widget(form.longDescription) }}{{form_errors(form.longDescription)}}</div>
			</td>

		</tr>
		<tr>
			<td>Auteur</td>
			<td>
				<div>{{ form_widget(form.author) }}{{form_errors(form.author)}}</div>

			</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>
				<div>{{ form_widget(form.status) }}{{form_errors(form.status)}}</div>
			</td>
		</tr>


		<tr>
			<td>Catégorie</td>
			<td>
				<div>{{ form_widget(form.category) }}{{form_errors(form.category)}}</div>
			</td>
		</tr>
		<tr>
			<td>Langue</td>
			<td>
				<div>{{ form_widget(form.language) }}{{form_errors(form.language)}}</div>
			</td>
		</tr>
		<tr>
			<td>Réponses</td>
			<td>
				{% for response in topic.responses %}
					<a href={{path("admin_response_show", {id: response.id} )}} class="badge">
						{{response.id}}
						{{response.content}}
						{{ ux_icon('tabler:arrow-bar-right', {class: 'w-6 h-6'}) }}
					</a>
				{% endfor %}

			</td>
		</tr>
	</tbody>
</table>
<div class="flex justify-center mb-4">
	<button type="submit" class="btn">
		{{ button_label|default('Enregistrer') }}
	</button>
</div>
{{ form_end(form) }}
