{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Topics{% endblock %}
 {% set return_path = 'admin_homepage' %} 

{% block admin_content %}
  
        
        <div class="mt-5 flex gap-4">
                 <select class="dashboard-select" id="langue">
                    <option value="all">Filtrer par langue</option>
                    {% for language in languages %}    
                        <option value="{{language.code}}">{{language.name}}</option>
                    {% endfor %}
                </select> 
                 <select class="dashboard-select" id="category">
                    <option value="all">Filtrer par catégorie</option>
                    {% for category in categories %}    
                        <option value="{{category.name}}">{{category.label}}</option>
                    {% endfor %}
                </select>
       
                 <select class="dashboard-select" id="status">
                    <option value="all">Filtrer par status</option>
                    {% for status in statuses %}    
                        <option value="{{status.name}}">
                            {% if status.value == 'open' %}
                                Ouvert
                            {% elseif status.value == 'close' %}
                                Fermé
                            {% elseif status.value == 'waiting' %}
                                En attente
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
  
        </div>

                  <table class="mt-9" >
                    <thead>
                        <tr  >
                            <th scope="col"> ID</th>
                            <th scope="col"> Titre</th> 
                            <th scope="col"> Création</th> 
                            {# <th scope="col"> Modification</th>  #}
                            <th scope="col"> Auteur</th>
                            <th scope="col"> Catégorie</th>
                            <th scope="col"> Langue</th>

                            <th scope="col"> Status</th>

                            <th scope="col"> Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300 ">
                        {% for topic in topics %}
                            <tr  data-langue="{{topic.language.code}}" data-category="{{topic.category.name}}" data-status="{{topic.status.name}}">
                                <td >{{ topic.id }}</td>
                                <td >{{ topic.title}}</td> 
                                <td >{{ topic.createdAt|format_datetime('short', 'none', locale: 'fr') }}</td>
                                {# <td >{{ topic.modifiedAt}}</td>  #}
                                <td >{{ topic.author.username }}</td>
                                <td >{{ topic.category.name }}</td>
                                <td >{{ topic.language.name }}</td>

                                <td >
                                    <form method="POST" action="{{ path('topic_change_status', { id: topic.id }) }}" class="inline">
                                        <input type="hidden" name="status" value="{{ topic.status.value }}">

                                             <select name="status" onchange="this.form.submit()">
                                                <option value="open" {% if topic.status.value == 'open' %}selected{% endif %}>Ouvert</option>
                                                <option value="close" {% if topic.status.value == 'close' %}selected{% endif %}>Fermé</option>
                                                <option value="waiting" {% if topic.status.value == 'waiting' %}selected{% endif %}>En attente</option>
                                            </select>

                                        
                                     </form>
                                </td>


                                <td>
                                    <a href="{{ path('admin_topic_show', {'id': topic.id}) }}">
                                           {{ ux_icon('tabler:eye', {class: 'w-6 h-6'}) }} 
                                    </a>
                                    <a href="{{ path('admin_topic_edit', {'id': topic.id}) }}">
                                        {{ ux_icon('tabler:edit', {class: 'w-6 h-6'}) }} 
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun topic trouvé.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
<div class="flex">
            <a href="{{ path('admin_topic_new') }}" class="btn w-full">
            Ajouter un topic
            </a>
            </div>
  {% endblock %}
{% block javascripts %}
    {{ parent() }}   
    <script src="{{ asset('js/filterTopics.js') }}"></script>
{% endblock %}

