{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% import 'macro/quiz/reponse_card.html.twig' as macros %}

{% block body %}
    <section>
        <h1>Résultat du quiz: {{quiz.title}}</h1>
        {% for userResponse in userResponses %}
            {{ macros.AfficheReponseQuizCard(userResponse) }}
        {% endfor %}
        <p>Vous avez {{correctAnswersCount}} bonnes réponses</p>
        <p>Vous avez gagné {{totalXpEarned}} de points</p>
        <a href="{{ path('app_quiz_all') }}">Faire un nouveau quiz</a>
    </section>
{% endblock %}
