{{ form_start(form) }}
<table>
	<thead>
		<tr>
			<th>Catégorie</th>
			<th>Valeur</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Content</td>
			<td>
				{{ form_widget(form.content) }}</td>
		</tr>
		<tr>
			<td>XP</td>
			<td>
				{{ form_widget(form.xp) }}</td>
		</tr>
	</tbody>
</table>
<div id="groupe-reponse">
	<h2 class="text-xl mb-4">Ajouter vos réponses</h2>
	<div class="reponse" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr')}}">
		{% for answer in form.answers %}
			{{ form_widget(answer) }}
		{% else %}
			{% do form.answers.setRendered %}
		{% endfor %}
	</div>
</div>
<div class="flex items-center justify-center gap-5 mt-8">
	<button type="button" id="add-reponse-btn" class="hover:underline">Ajouter une réponse</button>
</div>
<div class="flex items-center justify-center gap-5 mt-8">
	<button type="submit" id="save-question-btn" class="btn">
		{{ button_label|default('Enregistrer') }}</button>
	<button type="submit" id="add-new-question-btn" name="add_new_question" value="1" class="btn">
		{{ button_label|default('Ajouter une nouvelle question') }}</button>
</div>
{{ form_end(form) }}
