{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Modifier
	{{category.name}}
{% endblock %}
{% set return_path = 'admin_category_show' %}
{% set return_params = { id: category.id } %}


{% block admin_content %}
	{{ form_start(form) }}

	<table>
		<thead>
			<tr>
				<th>Catégorie</th>
				<th>Valeur</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Id</td>
				<td>{{category.id}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					{{ form_widget(form.name) }}</td>
			</tr>
			<tr>
				<td>Label</td>
				<td>
					{{ form_widget(form.label) }}</td>
			</tr>
			<tr>
				<td>Topics</td>
				<td>
					{% for topic in category.topics %}
						<div>
							{{topic.id}}
							{{topic.title}}
						</div>
					{% endfor %}

				</td>
			</tr>
		</tbody>
	</table>
	<div class="flex justify-center items-center mb-4">
		<button type="submit" class="btn">
			{{ button_label|default('Enregistrer') }}
		</button>
	</div>
	{{ form_end(form) }}
	{{ include('admin/category/_delete_form.html.twig') }}

{% endblock %}
