{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Catégories{% endblock %}
 {% set return_path = 'admin_homepage' %} 

{% block admin_content %}
    <table class="mt-9" >
        <thead>
            <tr  >
                <th scope="col">ID</th>
                <th scope="col">Name</th> 
                <th scope="col">Label</th>  
                <th scope="col">Nombre de Topics</th> 
                <th scope="col"> </th> 
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300 ">
            {% for category in categories %}
                <tr >
                    <td >{{ category.id }}</td>
                    <td >{{ category.name }}</td>
                    <td >{{ category.label }}</td>
                    <td >{{ category.topics|length }}</td> 
                    <td >
                        <a href="{{ path('admin_category_show', {'id': category.id}) }}"  >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"  >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </a>
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}"  >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"  >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun topic trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex">
        <a href="{{ path('admin_category_new') }}" class="btn w-full">
        Ajouter une catégorie
        </a>
    </div>
  {% endblock %}
 

