{% set title = block('title') %}

<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="UTF-8">
		<title>{{title|raw}}</title>
		<link rel="icon" href="{{ asset('img/logo/iconographique.svg') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="dark:bg-neutral-800 dark:text-white relative">
		{% for label, messages in app.flashes %}
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}
		{% include('parts/layouts/header_layout.html.twig' ) %}

		<main class="md:container md:mx-auto md:pb-20 mt-5 mx-6 mb-10">
			<h1 class="font-bold text-fuchsia-300 text-center text-2xl mb-8">{{title|raw}}</h1>

			{% block body %}{% endblock %}
		</main>
	</body>
</html>
