   <header class="mb-12">
    <nav class="{{isDark? "bg-neutral-950"  : "bg-gray-50"}}">
        <div class="container mx-auto flex justify-between items-center p-4">
             <a href="{{ path('app_home') }}" class="text-lg font-bold text-gray-700">
                Alphacorp
            </a>

             <button id="menu-button" class="block md:hidden text-gray-700">
                <i class="fas fa-bars"></i>
            </button>
            
            <ul id="menu" class="hidden md:flex gap-6 ">
                {% if app.user %}
                    {%   if not is_granted('ROLE_BANNED')%}
                        <li>
                            <a href="{{ path('app_home') }}"
                                class="text-fuchsia-500 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'index' %}font-bold text-blue-600{% endif %}">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="text-fuchsia-500 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'publications_all_publications' %}font-bold text-blue-600{% endif %}">
                                Publications
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="text-gray-600 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'publications_new_publication' %}font-bold text-blue-600{% endif %}">
                                Nouveau post
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="text-gray-600 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'user' %}font-bold text-blue-600{% endif %}">
                                Mon compte
                            </a>
                        </li> 
                                            {% else %}
                                                <a href="#"
                                class="text-gray-600 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'app_logout' %}font-bold text-blue-600{% endif %}">
                                Déconnexion
                            </a>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="#"
                            class="{{isDark ? "text-neutral-200" : "text-neutral-400"}} hover:text-blue-600 {% if app.request.attributes.get('_route') == 'app_register' %}font-bold {{isDark ? text-fuchsia-500: text-blue-500}}  {% endif %}">
                            S'inscrire
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="text-fuchsia-500 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'app_login' %}font-bold text-blue-600{% endif %}">
                            Se connecter
                        </a>
                    </li>
                {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="#"
                            class="text-gray-600 hover:text-blue-600 {% if app.request.attributes.get('_route') == 'app_register' %}font-bold text-blue-600{% endif %}">
                            ADMIN
                        </a>
                    </li>
            {% endif %}
    

            </ul>

        </div>
    </nav>
</header>