{% extends 'admin/base_admin.html.twig' %}

{% block title %}Rank
{% endblock %}
{% set return_path = 'admin_rank_homepage' %}

{% block admin_content %}
	<div class="wrapper-table">
		<table>
			<thead>
				<tr>
					<th>Catégorie</th>
					<th>Valeur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Id</td>
					<td>{{ rank.id }}</td>
				</tr>
				<tr>
					<td>Titre</td>
					<td>{{ rank.title }}</td>
				</tr>
				<tr>
					<td>Minimum</td>
					<td>{{ rank.minimum }}</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{ rank.description }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex flex-col items-center gap-5">
		<a href="{{ path('admin_rank_edit', {'id': rank.id}) }}" class="btn">Modifier</a>
		{{ include('admin/rank/_delete_form.html.twig') }}
	</div>
{% endblock %}
