{% extends 'base.html.twig' %}

{% block title %}Réponse{% endblock %}

{% block body %}
    <main class=" flex-1 py-10  px-5 sm:px-10 ">
        <section>
            <h1 class="text-lg font-medium text-black">Réponse de <span class="font-bold text-blue-600">{{ response.author.username }}</span></h1>

            <div class="overflow-hidden  border rounded-lg border-gray-300 mt-9">
                <table class="table-auto min-w-full rounded-xl">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> ID</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Auteur</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Contenu</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Topic</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Status</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300 ">
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.id }}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.author.username }}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.content }}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.topic.title }}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                {% if response.status.value == 'validated' %}
                                    <div class="py-1.5 px-2.5 bg-green-100 rounded-full flex justify-center w-20 items-center gap-1">
                                        <span class="font-medium text-xs text-green-600 ">Validé</span>
                                    </div>
                                {% elseif response.status.value == 'waiting' %}
                                    <div class="py-1.5 px-2.5 bg-orange-100 rounded-full flex items-center justify-center w-20 gap-1">
                                        <span class="font-medium text-xs text-orange-600 ">En attente</span>
                                    </div>
                                {% elseif response.status.value == 'rejected' %}
                                    <div class="py-1.5 px-2.5 bg-red-100 rounded-full flex w-20 justify-center items-center gap-1">
                                        <span class="font-medium text-xs text-red-600 ">Rejeté</span>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="flex items-center justify-center mt-4">
                <a href="{{ path('admin_response') }}">
                    <button class="relative flex bg-blue-600 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                        Retour à la liste
                    </button>
                </a>
            </div>

        </section>
    </main>
{% endblock %}
