{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block h1 %}Inscription
{% endblock %}

{% block body %}

	<div class="max-w-2xl mx-auto">

		{{ form_start(registrationForm, {"attr":{'class': "flex flex-col gap-8"}}) }}

		<div>
			{{ form_row(registrationForm.username) }}
		</div>

		<div>
			{{ form_row(registrationForm.email) }}
		</div>

		<div>
			{{ form_row(registrationForm.plainPassword.first) }}
		</div>

		<div>
			{{ form_row(registrationForm.plainPassword.second) }}
		</div>

		<div>
			{{ form_label(registrationForm.gender) }}
			<div class="flex gap-6">
				{% for gender in registrationForm.gender %}
					<div class="flex items-center">
						{{ form_widget(gender, { 'attr': { 'class': 'form-radio h-5    focus:ring-2 focus:ring-fuchsia-500 border-gray-300 rounded-full' } })}}
						{{ form_errors(registrationForm.gender, { 'attr': { 'class': 'text-red-500 text-sm mt-1' } }) }}
						<span class="ml-2">
							{{gender.vars.label}}</span>
					</div>
				{% endfor %}
				{{ form_errors(registrationForm.gender) }}
			</div>
		</div>
		<div>
			{{ form_row(registrationForm.image) }}
		</div>

		<div class="flex justify-end">
			<button type="submit" class=" text-fuchsia-300 rounded-full border border-fuchsia-300 px-4 py-2   hover:bg-fuchsia-400 hover:text-white transition">
				{{ button_label|default('Créer le compte') }}
			</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
