{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}
{% block h1 %}Mon profile - Édition
{% endblock %}

{% block body %}
	<div>
		<!-- Section Profil -->
		<section class="flex gap-6 w-full">
			<img src="{{ asset('img/1.png') }}" class="w-80 object-cover rounded-sm" alt="Profile Picture"/>
			{{ form_start(form, {'attr': {'class': 'flex flex-col justify-between gap-8 w-full'}}) }}
			{{ form_widget(form.username) }}
			{{ form_widget(form.email) }}
			{{ form_widget(form.gender) }}
			<button type="submit" class="btn">
				{{ button_label|default('Enregistrer') }}
			</button>
			{{ form_end(form) }}


		</section>


	</div>
{% endblock %}
