{% extends 'base.html.twig' %}


{% block title %}Profile
{% endblock %}
{% block body %}
	<div>
		<!-- Section Profil -->
		<section class="flex md:flex-row flex-col gap-6">
			<img src={{ asset('img/uploads/' ~ user.image ) }} class="md:w-80 object-cover rounded-sm md:h-60 h-30 w-full" alt="Profile Picture"/>

			<div class="flex justify-between w-full">
				<div class="flex flex-col justify-between">
					<div>
						<p class="font-bold">{{user.username}}</p>
						<p class="text-neutral-400">{{user.email}}</p>
						<p class="text-neutral-400">21/09/2003</p>
					</div>
					{% if user == app.user %}
						<a href="{{ path('app_user_edit' ) }}" class="btn">Modifier</a>
					{% endif %}
					{% if is_granted('ROLE_ALPHA') and "ROLE_ALPHA" in user.roles and user != app.user  %}
						{% if not bromance_user %}
							<form method="POST" action={{ path('app_bromance_request', {id:user.id} ) }}>
								<button type="submit" class="btn">Demander la bromance</button>
							</form>
						{% endif %}
					{% endif  %}
				</div>
				{% if is_granted('ROLE_ALPHA') %}

					<div class="rounded-full bg-fuchsia-500 h-fit px-3 py-1 w-fit">
						<p>{{user.xp ? user.xp: 0}}
							XP</p>
					</div>
				{% endif %}
			</div>

		</section>
		{% if user.xp and is_granted('ROLE_ALPHA') %}

			<section class="my-20">
				<div class="flex justify-between mb-4">
					<p>{{currentRank.title}}</p>
					{% if nextRank %}
						<p>{{nextRank.title}}</p>
					{% endif %}
				</div>
				<div class="w-full h-6 border overflow-hidden rounded-full">
					<div class="h-8 bg-white" style="width: {{ pourcentage }}%;"></div>
				</div>
				<div class="flex justify-between mt-2">
					<p class="text-sm text-gray-300 italic">{{currentRank.description}}</p>
					<a href={{path("app_rank_homepage")}} class="hover:underline">
						En découvrir + sur les ranks
					</a>
				</div>
			</section>
		{% endif %}
		{% if is_granted('ROLE_ALPHA') and app.user == user %}

			{% include 'parts/layouts/user/bromance_layout.html.twig' with {"path_bromance": "app_bromance_homepage"}  %}
		{% endif %}
		{% if bromance_user %}
			<section class="mx-auto shadow-xl shadow-neutral-900 rounded text-center md:w-fit w-full md:p-10 md:mt-20 mt-6 p-5">
				{{ ux_icon('tabler:heart-handshake', {class: 'w-30 h-30 mx-auto'}) }}
				<h2 class="text-xl">Notre bromance
				</h2>
				{% if  bromance_user.request.name =="ACCEPTED" %}
					<p class="text-3xl text-fuchsia-500 mb-8 mt-4">{{bromance_user.status.value}}</p>
				{% else %}
					<p class="text-3xl text-fuchsia-500 mb-8 mt-4">Demande en cours...</p>


				{% endif %}
				<form method="POST" action={{ path('app_bromance_delete', {id:user.id} ) }}>
					<button type="submit" class="hover:underline">Supprimer la bromance</button>
				</form>
			</section>
		{% endif %}

		{% if not is_granted("ROLE_SUPERVISOR")%}
			<!-- Section Events Author -->
			{% include 'parts/layouts/user/event_author_layout.html.twig' with {"path_event_author": "app_event_author"}  %}


			<!-- Section Events Participation -->
			{% include 'parts/layouts/user/event_participate_layout.html.twig' with {"path_event_participate": "app_event_user_participate"}  %}

			<!-- Section Forum -->
			{% include 'parts/layouts/user/forum_author_layout.html.twig' with {"path_forum_author": "app_forum_author"}  %}
		{% endif %}


	</div>
{% endblock %}
