<a href="{{ path('app_topic', { id : topic.id }) }}">
<article class="p-4 rounded-lg shadow-lg shadow-neutral-900 w-80 hover:scale-110 transition" >
<div class="flex justify-between items-center">

    <p class="text-xs text-neutral-500">{{topic.language.name}}</p>
    {% if topic.status.value == 'open' %}
        <span class="py-1.5 px-2 bg-green-500/30 rounded-full flex w-fit justify-center items-center gap-1">
            <p class="font-medium text-xs text-green-600">Ouvert</p>
        </span>
    {% elseif topic.status.value == 'close' %}
        <span class="py-1.5 px-2 bg-red-500/30 rounded-full flex w-fit justify-center items-center gap-1">
            <p class="font-medium text-xs text-red-600">Fermé</p>
        </span>
    {% elseif topic.status.value == 'waiting' %}
        <span class="py-1.5 px-2 bg-orange-500/30 rounded-full flex w-fit justify-center items-center gap-1">
            <p class="font-medium text-xs text-orange-600">En attente</p>
        </span>
    {% endif %}
</div>
    <h3 class="text-md font-bold my-4">{{topic.title}}</h3>
    <p class="mb-3">{{topic.shortDescription}}</p>

    <p class="text-xs text-neutral-500 text-end">{{ button_label|default('En lire +') }}</p>
  
</article>
</a>