{% extends 'base.html.twig' %}

{% block title %}Rank
{% endblock %}

{% block body %}
	<div class="wrapper-table">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Date d'ouverture</th>
					<th>Date de fermeture</th>
					<th>XP</th>
					<th>Nombre de participation</th>

					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for contest in contests %}
					<tr>
						<td>{{ contest.id }}</td>
						<td>{{ contest.title }}</td>
						<td>{{ contest.description }}</td>
						<td>{{ contest.startOn ? contest.startOn|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ contest.endOn ? contest.endOn|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ contest.xp }}</td>
						<td>{{ contest.userContests|length }}</td>

						<td>
							<a href="{{ path('app_contest_supervisor_show', {'id': contest.id}) }}">
								{{ ux_icon('tabler:eye', {class: 'w-6 h-6'}) }}

							</a>
							<a href="{{ path('app_contest_supervisor_edit', {'id': contest.id}) }}">
								{{ ux_icon('tabler:edit', {class: 'w-6 h-6'}) }}

							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{{ path('app_contest_supervisor_new') }}" class="btn">Créer un nouveau défi</a>
{% endblock %}
